 @tailwind base;
 @tailwind components;
 @tailwind utilities;




 /* CSS */

:root{
    --header-height: 150px;
}

#headerContent{
height: var(--header-height);
}

#heroSection{
padding-top: var(--header-height);
}

::-webkit-scrollbar {
width: 8px;
height: 8px;
}

::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.3);
border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
background-color: rgba(0, 0, 0, 0.1);
border-radius: 9999px;
margin: 10px;
}